<section>
    <section id="es7-features">
        <h3><span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>7 Features</h3>
    </section>
    <section id="es7-features-details">
        <h3>New in <span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>7</h3>
        <div class="fragment">
            <p><code>includes</code></p>
            <pre><code class="js">
    const numbers = [1, 2, 3, 4, 5];
    numbers.includes(3);// true
            </code></pre>
        </div>
        <div class="fragment">
            <p><code>**</code></p>
            <pre><code class="js">
    // exponentiation operator
    const result = 4 ** 4;
    console.log(result);// 16
            </code></pre>
        </div>
    </section>
</section>
