<section id="introducing-babel">
    <section id="babel-question-1" data-menu-title="Support old browsers?" data-markdown>
        ...what if I have to support old browsers?
    </section>
    <section id="babel-question-2" data-menu-title="Use bleeding edge features?">
        <p>...what if I want to use bleeding edge featur<span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>?</p>
    </section>
    <section id="babel" data-menu-title="Babel" data-background-image="img/babel.png" data-background-size="contain" data-background-transition="zoom"></section>
    <section id="compilers" data-menu-title="Compilers are the new frameworks">
        <blockquote><a href="https://tomdale.net/2017/09/compilers-are-the-new-frameworks/">"Compilers are the new frameworks"</a></blockquote>
        <p>― Tom Dale</p>
    </section>
</section>
