<div class="reveal">
	<div class="slides">
		<section id="title">
			<h3>Keeping up with the Jones<span style="font-weight:bold;color:#333;background-color:yellow;">ES</span></h3>
			<p>Using the latest and greatest features</p>
			<br /> <a href="https://twitter.com/@jhwohlgemuth">by Jason Wohlgemuth</a>
		</section>
		<section id="intro" data-markdown data-menu-title="Introduction" data-transition="convex">
			<script type="text/template">
				## Who Am I?
				##### Jason Wohlgemuth
				<img src="img/profile.jpg" class="img-circle img-responsive img-center profile" />
				<br /> [
				<i class="fa fa-twitter" aria-hidden="true"></i>/@jhwohlgemuth](https://twitter.com/@jhwohlgemuth)&nbsp;&nbsp;&nbsp;[<i class="fa fa-github" aria-hidden="true"></i>/jhwohlgemuth](https://github.com/jhwohlgemuth)<br />
			</script>
		</section>
		<section id="questions">
			<h2>Qu<span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>tions <span style="text-transform:lowercase;font-style:italic;">to</span> Answer</h2>
			<ol>
				<li class=" fade-up">What is ECMAScript (<span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>)?</li>
				<li class=" fade-up">What featur<span style="font-weight:bold;color:#333;background-color:yellow;">ES</span> should I use today?</li>
				<li class=" fade-up">What if I have to support old browsers?</li>
				<li class=" fade-up">What if I want to use bleeding edge featur<span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>?</li>
			</ol>
		</section>
		<% include es6-past-present-and-future %>
		<% include dancing-bear %>
		<% include es6-feature-const-and-let %>
		<% include es6-feature-arrow-functions %>
		<% include es6-feature-template-literals %>
		<% include es6-feature-object-shorthand %>
		<% include es6-feature-destructuring %>
		<% include es6-feature-rest-and-spread %>
		<% include es6-features-misc %>
		<% include es7-features %>
		<% include es8-feature-async-and-await %>
		<% include reindeer-games %>
		<% include introducing-babel %>
		<section id="references" data-background="img/web-surfing-time.gif">
			<h3>References</h3>
			<div style="padding:20px;background-color:rgba(0,0,0,0.8);border-radius:20px;">
				<ul>
					<li><a href="https://www.ecma-international.org/memento/history.htm">History of Ecma</a></li>
					<li><a href="https://www.ecma-international.org/publications/standards/Ecma-262.htm">ECMAScript 2017 Specification</a></li>
					<li><a href="https://github.com/tc39/ecma262">TC-39 ECMA-262 GitHub Page</a></li>
					<li><a href="https://github.com/tc39/proposals">ECMAScript Proposals</a></li>
					<li><a href="https://kangax.github.io/compat-table/es6/">ECMAScript Compatability Table</a></li>
					<li><a href="https://developer.mozilla.org/en-US/">MDN web docs</a></li>
					<li><a href="https://youmightnotneed.com/lodash/">You Might Not Need Lodash</a></li>
					<li><a href="https://www.keithcirkel.co.uk/metaprogramming-in-es6-symbols/">Metaprogramming in ES6</a></li>
					<li><a href="https://tomdale.net/2017/09/compilers-are-the-new-frameworks/">Compilers are the new Frameworks</a></li>
					<li><a href="https://babeljs.io/">Babel Homepage</a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
