<section>
    <section  id="reindeer-games">
        <h3>Reindeer Gam<span style="font-weight:bold;color:#333;background-color:yellow;">ES</span></h3>
        <p>Which version contains the feature?</p>
    </section>
    <section id="question-1">
        <h3><span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>5/6/7/8?</h3>
        <br>
        <pre><code class="js">
    Object.values(obj);
        </code></pre>
        <h1 class="fragment">8</h1>
    </section>
    <section id="question-2">
        <h3><span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>5/6/7/8?</h3>
        <br>
        <pre><code class="js">
    'foobar'.startsWith('foo');
        </code></pre>
        <h1 class="fragment">6</h1>
    </section>
    <section id="question-3">
        <h3><span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>5/6/7/8?</h3>
        <br>
        <pre><code class="js">
    Number.isFinite(value);
        </code></pre>
        <div class="fragment">
            <h1>6</h1>
            <p>(different than global <code>isFinite</code>)</p>
        </div>
    </section>
    <section id="question-4">
        <h3><span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>5/6/7/8?</h3>
        <br>
        <pre><code class="js">
    Math.trunc(4.669);// 4
        </code></pre>
        <h1 class="fragment">6</h1>
    </section>
    <section id="question-5">
        <h3><span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>5/6/7/8?</h3>
        <br>
        <pre><code class="js">
    Object.freeze(obj);
        </code></pre>
        <h1 class="fragment">5</h1>
    </section>
    <section id="question-6">
        <h3><span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>5/6/7/8?</h3>
        <br>
        <pre><code class="js">
    'na'.repeat(8);// Batman!
        </code></pre>
        <h1 class="fragment">6</h1>
    </section>
    <section id="question-7">
        <h3><span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>5/6/7/8?</h3>
        <br>
        <pre><code class="js">
    Object.entries({foo: 'bar'});// [['foo', 'bar']]
        </code></pre>
        <h1 class="fragment">8</h1>
    </section>
    <section id="question-8">
        <h3><span style="font-weight:bold;color:#333;background-color:yellow;">ES</span>5/6/7/8?</h3>
        <br>
        <pre><code class="js">
    'abc'.padStart(6, "123465");// "123abc"
        </code></pre>
        <h1 class="fragment">8</h1>
    </section>
</section>
